@font-face {
    font-family: "Raleway";
    src: url(police/Raleway-Regular.ttf); format("TrueType");
}

html{
    font-family: Raleway;
}

header{
    background-image: url(img/header.jpg);
    z-index: 10;
    height: 500px;
}

.opaque{
    background-color: #2b2e4a;
    position: absolute;
    height: 500px;
    width: 1887px;
    opacity: 0.9;
}

.slogan{
    text-align: center;
}

.titre{
    color: white;
    position: absolute;
    margin-left: 35%;
}

.titre1{
    color: white;
    position: absolute;
    margin-left: 35%;
    margin-top: 5%;
}

input[type="submit"]{
    background-color: #e84545;
    border: 0;
    color: white;
    height: 35px;
    width: 150px;
    font-size: x-small;
    position: absolute;
    margin-top: 10%;
}
